@import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gabarito", cursive;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: auto;
}
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-top: 20px;
}
.search input {
  width: 300px;
  height: 40px;
  border-radius: 1rem;
  border: 1px solid #000;
  padding: 5px;
  margin-bottom: 10px;
}
.inicio{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-top: 20px;

}

.inicio p{
  font-size: 1.5rem;
  margin-bottom: 20px;

}
.products-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-bottom: 20px;
  background-color: #ffff;
  border: 1px solid #000;
  border-radius: 1rem;
  padding: 10px;
}

.product-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #000;
}
.porcentaje {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: #ffff;
  padding: 5px;
  border-radius: 0 0 0 1rem;
}

.porcentaje p {
  font-size: 1.2rem;
  font-weight: bold;
}

.product-header h5 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 5px;
}

.product-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.product-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 175px;
  margin-right: 10px;
}

.product-img img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.product-cont-desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-left: 10px;
}

.cont-precios {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.Precio-lista-tachado {
  text-decoration: line-through;
  font-size: 1.2rem;
}

.Precio-lista {
  font-size: 1.2rem;
  font-weight: bold;
}

.segundo{
  font-size: 1.2rem;
  font-weight: bold;

  margin: 10px;
}

.segundo span{
  font-size: 1.5rem;

  color: red;


}

.Precio-descuento {
  font-size: 1.2rem;
  font-weight: bold;
  color: red;
}

.Precio-efectivo {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 30px;
}

.product-footer-medidas {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  border-top: 1px solid #000;
}

.medidas-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  font-size: 0.8rem;
}

.product-footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  border-top: 1px solid #000;
}
.sk-chase {
  width: 40px;
  height: 40px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;

}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
  animation: sk-chase-dot 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #000;
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
  100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4); 
  } 100%, 0% {
    transform: scale(1.0); 
  } 
}