@import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gabarito", cursive;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-top: 10px;
}

.search input {
  width: 300px;
  height: 40px;
  padding: 5px;
  margin-bottom: 10px;
  outline: none;
  animation: input-animation 1s;
}

@keyframes input-animation {
  0% {
    width: 0px;
    border: 0px solid #000;
  }

  100% {
    width: 300px;
    border: 1px solid #000;
  }
}

.search input:focus {
  border: 2px solid #000;
}


.products-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 20px);
}

.product-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  width: 80%;
  height: calc(100% - 20px);
  padding: 10px;
  margin: 10px;
  animation: card-animation 1s;
}


.contenedor-izq {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.product-img {
  width: 80%;
}

.product-img img {
  width: 100%;
  height: 100%;
}

.contenedor-sku {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 80%;
}

.contenedor-sku p {
  font-size: 10px;
  text-align: left;
}

.contenedor-derecha {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 100%;

}

.contenedor-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid grey;
  width: 95%;
}

.contenedor-desc p {
  padding: 10px;
  margin: 10px;
  font-size: 12px;
  text-align: center;

}

.contenedor-precios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 15px;
}

.precio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;

}

.precio-eft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.precio-actual {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.precio-ahora {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.text {
  font-size: 12px;
  text-align: center;
}

.text-ef {
  font-size: 18px;
  color: red;
  text-align: center;
}

.precio-efectivo {
  font-size: 25px;
  font-weight: bold;
  color: red;
  text-align: center;
}

.conteendor-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.info-coutas {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.info-coutas p {
  font-size: 15px;
  text-align: center;
  padding-left: 20px;
}

.info-medidas {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.info-medidas p {
  font-size: 10px;
  text-align: center;
  margin: 10px;
}

.inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sk-chase {
  width: 40px;
  height: 40px;
  margin: 15px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2s infinite ease-in-out both;
}

.sk-chase-dot:before {
  content: "";
  display: block;
  width: 25%;
  height: 25%;
  background-color: #000;
  border-radius: 100%;
  animation: sk-chase-dot-before 2s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
  animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2) {
  animation-delay: -1s;
}

.sk-chase-dot:nth-child(3) {
  animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4) {
  animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5) {
  animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6) {
  animation-delay: -0.6s;
}

.sk-chase-dot:nth-child(1):before {
  animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2):before {
  animation-delay: -1s;
}

.sk-chase-dot:nth-child(3):before {
  animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4):before {
  animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5):before {
  animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6):before {
  animation-delay: -0.6s;
}

@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot {
  80%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }

  100%,
  0% {
    transform: scale(1);
  }
}



@keyframes card-animation {
  0% {
    scale: 0.5;
    width: 50%;
    border: 0px solid #000;
  }

  100% {
    scale: 1;
    width: 80%;
    border: 1px solid #000;
  }
}

