@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gabarito', cursive;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

background-image: url(./assets/fondo.jpg);
  height: auto;

}
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-top: 20px;
} 
.search input {
  width: 300px;
  height: 40px;
  border-radius: 1rem;
  border: 1px solid #000;
  padding: 5px;
  margin-bottom: 10px;
}

.products-contenedor {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  width: 80%;


}

.product-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-bottom: 20px;
  background-color: #ffff;
  border: 1px solid #000;
  border-radius: 1rem;
  padding: 10px;
}

.product-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #000;
}
.porcentaje {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: #ffff;
  padding: 5px;
  border-radius: 0 0 0 1rem;
}

.porcentaje p {
font-size: 1.2rem;
font-weight: bold;
}

.product-header h5 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 5px;
}

.product-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;

}

.cont-precios{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 10px;

}

.Precio-lista-tachado {
  text-decoration: line-through;
  font-size: 1.2rem;
}

.Precio-lista{
  font-size: 1.2rem;
  font-weight: bold;
}

.Precio-descuento{
  font-size: 1.2rem;
  font-weight: bold;
  color: red;
}



.Precio-efectivo{
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 30px;
}

.product-footer-medidas{
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  border-top: 1px solid #000;
}

.medidas-cont{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  font-size: 0.8rem;
}

.product-footer-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  border-top: 1px solid #000;
}

